.certificate-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 20px;
  }
  
  .certificate {
    background: #04a3ff22;
    padding: 30px;
    border: 5px solid #ccc;
    border-radius: 10px;
    width: 60%;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .subtitle {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
  }

  .subtitle-next{
    text-align: justify;
    margin: 20px 50px 20px 50px ;
    line-height: 20px;
    font-size: 16px;
  }
  
  .recipient {
    font-size: 22px;
    font-weight: bold;
    color: navy;
    margin: 10px 0;
  }
  
  .course {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    margin-top: 5px;
  }
  
  .date {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }
  
  .signature-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
  }
  
  .label {
    font-weight: bold;
    color: #333;
  }
  
  .info, .signature-line {
    color: #555;
  }
  