:root{
  --website-main-color_1 : linear-gradient(to bottom, #141E30, #243B55);
  --website-main-color_2 : linear-gradient(85deg, #141e3092, #1069ce);
  --website-main-color_3 : #243b55e4;;
  --website-main-color_4 : #233d5ac2;
  --website-main-color_5 : white;
  --website-main-color_6 : #222;
  --website-main-color_7 : #fff;
  --website-main-color_8 : #fff;
  --website-main-color_9 : #fff;
  --website-main-color_10 : #fff;
  --website-main-color_11 : #fff;
  --website-main-color_12 : #fff;
  --website-main-color_13 : #fff;
  --website-main-color_14 : #fff;
  --website-main-color_15 : #fff;
  --website-main-color_16 : #fff;
  --website-main-color_17 : #fff;

  --font-size-1 : 15px;


  --font-weight_100 : 100 ; 
  --font-weight_200 : 200 ; 
  --font-weight_300 : 300 ; 
  --font-weight_400 : 400 ; 
  --font-weight_500 : 500 ; 

  --font-family-1:'Poppins', sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: var(--font-family-1);
}