.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--website-main-color);
  color: white;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.navLinks {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navLinks ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

.navLinks ul li a:hover {
  color: #58a6ff;
  transform: scale(1.1);
}

.profileContainer {
  display: flex;
  gap: 40px;
}

.loginBtn {
  background: white;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 75px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 3px;
  transition: background 0.3s;
}

.loginBtn:hover {
  background: #58a6ff;
  color: white;
}

.profileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.profileIcon:hover {
  transform: scale(1.1);
}

.profileDropdown {
  position: absolute;
  top: 80px;
  right: 10px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 180px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.profileDropdown.show {
  display: flex;
}

.profileOption {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background 0.2s ease-in-out;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.profileOption:hover {
  background: #f0f0f0;
}

.menuToggle {
  display: none;
}
