.home-container {
  
  background-image: url('https://res.cloudinary.com/dieboinjz/image/upload/v1739722075/mern-uploads/wkj6vvqeex2io8pisxr7.png'); /* Ensure the image path is correct */
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.home-container-2{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #00000026;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.brand-name {
  color: #007bff; /* Highlighted brand name */
}

.home-description {
  font-size: 1.2rem;
  max-width: 600px;
  color: #fff;
  margin-bottom: 20px;
}

.home-explore-btn {
  background-color: white;
  color: black;
  width: 200px;
  font-size: 1.2rem;
  padding: 12px 25px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-explore-btn:hover {
  background-color: rgba(0, 0, 0, 0.259);
  color: white;
}
