.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://www.google.com/imgres?q=best%20banner%20for%20deutech%20computer%20science&imgurl=https%3A%2F%2Ft4.ftcdn.net%2Fjpg%2F05%2F54%2F46%2F89%2F360_F_554468927_iwU3VYIjsaeopAb0WPYxVf21TloEhTEj.jpg&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dcomputer%2Btechnology%2Bbanner&docid=0Idru6fyTRRQ2M&tbnid=LfnBRaRpheHMNM&vet=12ahUKEwicsMO5_qmLAxV4SWwGHYUJLSYQM3oECGQQAA..i&w=970&h=360&hcb=2&ved=2ahUKEwicsMO5_qmLAxV4SWwGHYUJLSYQM3oECGQQAA'); /* Ensure the image path is correct */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
}

.home-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.brand-name {
  color: #007bff; /* Highlighted brand name */
}

.home-description {
  font-size: 1.2rem;
  max-width: 600px;
  color: black;
  margin-bottom: 20px;
}

.home-explore-btn {
  background-color: white;
  color: black;
  width: 200px;
  font-size: 1.2rem;
  padding: 12px 25px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-explore-btn:hover {
  background-color: black;
  color: white;
}
